@charset "UTF-8";
#h22 {
  position: relative;
  top: 100px;
  -webkit-animation-name: myanim0;
          animation-name: myanim0;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes myanim0 {
  0% {
    top: 100px;
  }
  100% {
    top: -30px;
  }
}
@keyframes myanim0 {
  0% {
    top: 100px;
  }
  100% {
    top: -30px;
  }
}

.h23 {
  position: relative;
  left: -300px;
  -webkit-animation-name: myanim1;
          animation-name: myanim1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
@-webkit-keyframes myanim1 {
  0% {
    left: -300px;
  }
  100% {
    left: 0px;
  }
}
@keyframes myanim1 {
  0% {
    left: -300px;
  }
  100% {
    left: 0px;
  }
}

.h24 {
  position: relative;
  right: -300px;
  -webkit-animation-name: myanim2;
          animation-name: myanim2;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
@-webkit-keyframes myanim2 {
  0% {
    right: -300px;
  }
  100% {
    right: 0px;
  }
}
@keyframes myanim2 {
  0% {
    right: -300px;
  }
  100% {
    right: 0px;
  }
}

.h25 {
  position: relative;
  left: -900px;
  -webkit-animation-name: myanim3;
          animation-name: myanim3;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
@-webkit-keyframes myanim3 {
  0% {
    left: -900px;
  }
  100% {
    left: 0px;
  }
}
@keyframes myanim3 {
  0% {
    left: -900px;
  }
  100% {
    left: 0px;
  }
}

body {
  padding-top: 20px;
}
body header .headcontainer {
  background-image: url(../img/2.jpg.jpg);
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 30px;
  height: 700px;
  padding: 0;
}
body header .headcontainer .col-2 img {
  margin-left: 45px;
  width: 70%;
}
body header .headcontainer .textcol {
  background-color: #fff;
  margin: 0 11px;
  border-radius: 0 30px 0 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body header .headcontainer .textcol h2 {
  padding: 0 10px;
  margin: 0;
}
body header .headcontainer nav {
  border-radius: 30px;
  padding: 12px 0;
}
body header .headcontainer nav ul {
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
body header .headcontainer nav ul li a {
  font-weight: 500;
  font-size: 20px;
  color: #000;
  border-radius: 20px;
  padding: 5px;
}
body header .headcontainer nav ul li a:hover {
  background-color: #000;
  color: #fff;
}
body header .headcontainer1 img {
  width: 100%;
}
body header .headcontainer1 .img1 {
  background-image: url(../img/f4bafb91314ed3a7af8793b8174e8e36.jpg);
  background-size: cover;
  background-position: 50% 50%;
  height: 300px;
  border-radius: 20px;
}
body header .headcontainer1 .img11 {
  background-image: url(../img/header.jpg);
  background-size: cover;
  background-position: 50% 50%;
  height: 70px;
  border-radius: 15px;
}
body header .headcontainer1 .img12 {
  background-image: url(../img/4fb1c99d71db0f1f120f7fcbbe5e405e.jpg);
  background-size: cover;
  background-position: 50% 50%;
  height: 70px;
  border-radius: 15px;
}
body header .headcontainer1 .img13 {
  background-image: url(../img/header1.jpg);
  background-size: cover;
  background-position: 50% 50%;
  height: 70px;
  border-radius: 15px;
}
body header .headcontainer1 .img13 span {
  z-index: 999;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 11px 8px;
}
body header .headcontainer1 .img13 span svg {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-bottom: 2px;
}
body header .headcontainer1 p {
  margin: 0;
}
body header .headcontainer1 h4 {
  margin: 0;
}
body header .headcontainer1 .text3 {
  padding-top: 105px;
  padding-left: 70px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body header .headcontainer1 .text3 h2 {
  font-size: 35px;
  color: #000;
  font-weight: 700;
}
body header .headcontainer1 .text3 a {
  text-align: center;
  text-decoration: none;
  color: #000;
  border: 1px solid black;
  border-radius: 20px;
  width: 60%;
  padding: 5px 0;
}
body header .h2row {
  position: relative;
  top: 47.7%;
  color: #fff;
}
body header .h2row h2 {
  font-size: 120px;
  font-weight: 700;
  margin: 0;
  padding-left: 100px;
}
body header .h2row .col-4 {
  background-color: #fff;
  color: #000;
  border-radius: 0 30px 0 30px;
}
body header .h2row .col-4 h2 {
  font-size: 30px;
  font-weight: 700;
  padding-top: 25px;
  padding-left: 10px;
}
body header .h2row .col-4 h2 .img1 {
  background-image: url(../img/aaa.avif);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-size: cover;
  background-position: 50% 50%;
}
body header .h2row .col-4 h2 .img2 {
  background-image: url(../img/Yukata_mens_1600x.webp);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  right: 15%;
}
body header .h2row .col-8 {
  padding: 0;
}
body header .h2row .col-8 h2 {
  padding: 0;
  padding-left: 50px;
}
body main .sec1 {
  padding: 70px 0;
}
body main .sec1 h2 {
  color: #000;
  font-size: 55px;
  margin-bottom: 20px;
}
body main .sec1 p {
  font-size: 17px;
}
body main .sec1 a {
  padding: 10px 7px 10px 15px;
  text-decoration: none;
  color: #000;
  border: 1px solid #e2e2e2;
  border-radius: 20px;
}
body main .sec1 a svg {
  margin-left: 15px;
}
body main .sec1 h6 {
  line-height: 30px;
}
body main .sec1 h6 span {
  font-size: 80px;
  line-height: 30px;
  color: red;
}
body main .sec1 .img1 {
  background-image: url(../img/0f6ff75c36bb7b8bd1a5233ea02b8e2c.jpg);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: cover;
  background-position: 50% 50%;
}
body main .sec1 .img2 {
  background-image: url(../img/b0a3b059c0862230acdc20201812d15e.jpg);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: cover;
  background-position: 50% 50%;
}
body main .sec1 .img3 {
  background-image: url(../img/204626212f4bb618ab8d71ecb0548a89.jpg);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: cover;
  background-position: 50% 50%;
}
body main .sec1 .img4 {
  background-image: url(../img/274f739161d80d7655cedd4d82c0755a.jpg);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: cover;
  background-position: 50% 50%;
}
body main .sec2 {
  padding: 70px 0;
}
body main .sec2 h2 {
  color: #000;
  font-size: 55px;
}
body main .sec3 {
  padding: 70px 0;
}
body main .sec3 h2 {
  color: #000;
  font-size: 55px;
}
body main .sec3 .img1 {
  background-image: url(../img/1136e4c5b1bbca6ae5a6ab6842e3a2d0.jpg);
  width: 100%;
  height: 550px;
  border-radius: 30px;
  background-size: cover;
  background-position: 50% 50%;
}
body main .sec3 .img2 {
  background-image: url(../img/4fb1c99d71db0f1f120f7fcbbe5e405e.jpg);
  width: 100%;
  height: 550px;
  border-radius: 30px;
  background-size: cover;
  background-position: 50% 50%;
}
body main .sec3 .img3 {
  background-image: url(../img/c7c47d7d00991e6451fa8943a38a3912.jpg);
  width: 100%;
  height: 550px;
  border-radius: 30px;
  background-size: cover;
  background-position: 50% 50%;
}
body main .sec3 span {
  padding: 5px 10px;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.2588235294);
  font-size: 16px;
  border-radius: 20px;
}
body main .sec3 .col {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body main .sec3 .col h2 {
  color: #fff;
  font-size: 35px;
}
body main .sec3 .col a {
  text-decoration: none;
  color: #000000;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  padding: 7px 10px;
  border-radius: 20px;
}
body .sec4 {
  padding: 70px 0;
}
body .sec4 h2 {
  color: #000;
  font-size: 55px;
}
body .sec4 hr {
  opacity: 1;
}
body .sec4 .text .col-4 {
  padding: 0;
}
body .sec4 .text h4 {
  font-size: 18px;
  color: #646464;
}
body .sec4 .text1 h2 {
  font-size: 30px;
}
body .sec4 span {
  padding: 10px 12px;
  background-color: rgba(0, 0, 0, 0.1607843137);
  border-radius: 50% !important;
}
body .sec4 span svg {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-bottom: 2px;
}
body .sec5 h2 {
  color: #000;
  font-size: 55px;
}
body .sec5 h5 {
  color: #000;
}
body .sec5 .spp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
body .sec5 .spp span {
  margin-right: 10px;
  padding: 5px 15px;
  color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.1607843137);
  font-size: 16px;
  border-radius: 20px !important;
}
body .sec5 .spp .ssvg {
  padding: 5px 7px;
  background-color: #000000;
  border-radius: 50% !important;
}
body .sec5 .spp .ssvg svg {
  margin-bottom: 2px;
}
body .sec5 .borderCol {
  border: 1px solid #c5c5c5 !important;
  padding: 0 !important;
  border-radius: 20px !important;
}
body .sec5 .borderCol img {
  border-radius: 20px;
}
body .sec5 .borderCol .card-body {
  padding: 20px;
}
body .sec5 .col-7 .borderCol {
  border: 1px solid #c5c5c5 !important;
  padding: 0 !important;
  border-radius: 20px !important;
}
body .sec5 .col-7 .borderCol .card-body {
  padding: 20px !important;
}
body .sec5 .col-7 .borderCol .img1 {
  background-image: url(../img/567269.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 20px;
}
body .sec5 .col-7 .borderCol .img2 {
  background-image: url(../img/Обложка1.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 20px;
}
body .sec6 {
  padding: 60px 0;
}
body .sec6 .container {
  background-image: url(../img/mtfujifeatured.jpg);
  height: 500px;
  border-radius: 50px;
  background-size: cover;
  background-position: 50% 50%;
}
body .sec6 .col-6 {
  position: relative;
  top: 140px;
  left: 25%;
}
body .sec6 .col-6 button {
  border: none;
  width: 200px;
  height: 60px;
  border-radius: 20px;
  background-size: cover;
  background-position: 50% 50%;
  font-size: 25px;
}
body .sec6 .col-6 h2 {
  color: white;
  font-size: 60px;
  letter-spacing: 1px;
}